/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* {
  font-family: "Poppins", sans-serif;
}

body,
html {
  margin: 0px;
  padding: 0px;
}

/* Navbar */
nav {
  background-color: #540b51;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar img {
  width: 150px;
}

.nav-icons button {
  background-color: #540b51;
  border: none;
}

.menu-items {
  display: none;
}

/* ============  */

/* ===== Header ======= */

header {
  background-color: #540b51;
  padding: 25px;
}

.header-text {
  color: white;
}

.header-text button {
  width: 100%;
}

#signup-button {
  padding: 10px;
  color: #540b51;
  font-weight: bold;
  border-radius: 5px;
  border: #540b51 1px solid;
  background-color: white;
}

#google-button {
  padding: 5px;
  border-radius: 5px;
  border: #540b51 1px solid;
  margin-top: 10px;
  font-weight: bold;
  background-color: #4285f4;
  color: white;
  display: flex;
}

#google-button span {
  align-self: center;
  flex-grow: 1;
}

#google-button img {
  height: 25px;
  display: flex;
  text-align: center;
  background-color: white;
}

.header-image img {
  margin-top: 10px;
  width: 90vw;
}

/* ============== */

.companies {
  background-color: #f3eae2;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 3.5vw;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 40px;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI",
    Tahoma, Arial, sans-serif;
}

.companies-list > img {
  max-height: 5vh;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}
.infos img:last-child {
  display: none;
}
.companies-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.infos {
  background-color: #f3eae2;
  font-family: Slack-Circular-Pro, "Helvetica Neue", Helvetica, "Segoe UI",
    Tahoma, Arial, sans-serif;
  width: 100vw;
}
a {
  text-decoration: none;
  color: #2e71a6;
}
.infos > div > img {
  width: 92vw;
}

.infos-header {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}
.second-info-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-lists {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #989898;
  color: #454245;
  justify-content: space-around;
  font-size: 3.5vw;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}
.footer > img {
  margin: 4vw 0 0 20px;
  width: 15vw;
}
ul {
  list-style: none;
  padding-left: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer-lists > ul > li:first-child {
  font-weight: bold;
}
.footer-lists > ul > li {
  margin-top: 15px;
}
.social-medias > li {
  margin-top: 25px;
  font-weight: bold;
}
.social-medias > li:last-child {
  color: #2e71a6;
}
.social-medias > li > img {
  margin-right: 5px;
}
.social-medias-logos {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* ======== Teams Large Section */
.teams-large-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teams-large-section > h3 {
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.teams-large-section > p {
  color: #540b51;
  text-align: center;
}

.teams-large-btns-container {
  display: flex;
  flex-direction: column;
}

.teams-large-btns-container button {
  padding: 10px;
  border: #540b51 1px solid;
  border-radius: 3px;
  font-size: 14px;
}

.custom-btn-filled {
  background-color: #540b51;
  color: white;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.custom-btn-outline {
  color: #540b51;
  font-weight: bold;
  text-transform: uppercase;
}

.teams-large-section ul {
  list-style: none;
  text-align: center;
}

.teams-large-section ul li {
  margin: 40px 40px 0 40px;
}

.teams-large-section h6 {
  text-align: center;
  color: gray;
  margin: 0px;
  margin-bottom: 20px;
}

small {
  display: block;
  margin: 10px;
}

.ul-title-styles {
  font-size: 35px;
  font-weight: bold;
  color: #540b51;
  margin: 0px;
}

.ul-info-styles {
  margin: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

/* ============================ */

/* ======== HQ Section ========= */

.hq-section {
  background-color: #540b51;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 30px 10px;
}

.hq-section > h3 {
  font-size: 30px;
}

.hq-buttons button {
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
  width: 100%;
}

/* Shared */
.primary-border {
  border: 1px solid #540b51;
}

.light-border {
  border: 1px solid white;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

/* ============================== */
@media only screen and (min-width: 768px) {
  .menu-items li a {
    color: #fff;
  }

  .menu-items {
    display: flex;
    padding-left: 20px;
  }

  .menu-items > li {
    padding-left: 15px;
    font-weight: bold;
  }
  .navbar {
    display: flex;
  }
  #menu-button {
    display: none;
  }
  .nav-icons ul {
    display: flex;
    gap: 10px;
  }
  .nav-icons {
    display: flex;
  }
  .nav-icons ul > li:first-child a {
    color: white;
    font-weight: bold;
    flex-wrap: nowrap;
    font-size: min(1.5vw, 20px);
  }
  .nav-icons ul > li:last-child a {
    color: #540b51;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 4%;
    font-size: min(1.5vw, 20px);
  }
  .navbar img {
    width: 100px;
    height: 25px;
    margin-top: 12px;
  }
  .header-text > h1 {
    font-size: 4.5vw;
  }
  .header-text {
    width: 40vw;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
  }
  .header-image > img {
    width: 40vw;
  }
  .header-buttons {
    display: flex;
    gap: 15px;
    height: 100%;
  }
  #google-button {
    margin-top: 0px;
  }
  .companies-list {
    gap: 5vw;
    padding-bottom: 50px;
  }
  .companies > p {
    font-size: max(1.4vw, 17px);
  }
  .infos {
    display: flex;
    column-gap: 28vw;
    font-size: max(1.2vw, 17px);
  }
  .infos > div > img:last-child {
    display: block;
    width: 35vw;
  }
  .infos > div > img:first-child {
    display: none;
  }
  .infos-header {
    width: 500px;
    margin-right: 15px;
  }
  .infos {
    display: flex;
    column-gap: 28vw;
    font-size: max(1.2vw, 17px);
    padding-bottom: 50px;
  }
  .infos > div > img:last-child {
    display: block;
    width: 35vw;
  }
  .infos > div > img:first-child {
    display: none;
  }
  .infos-header {
    width: 500px;
    margin-right: 15px;
  }
  .second-info-section {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }


  /* teams large */
  .teams-large-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .custom-btn-filled {
    margin: 0 10px 0 0;
  }
  

  .teams-large-section ul {
    display: flex;
    justify-content: center;
  }


  /* hq */
  .hq-buttons {
    display: flex;
    justify-content: center;
  }

  .hq-buttons button {
    width: max-content;
    padding: 20px;
  }

  .hq-buttons > button {
  margin-right: 20px;
  }


  /* footer */

  .footer {
    padding: 0 20px 20px 20px;
  }

  .footer > img {
    width: 100px;
    margin-bottom: 20px;
  }

  .footer-lists {
    justify-content: space-between;
  }

  .lists {
    font-size: 17px;
  }

  .social-medias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .social-medias-logos {
    justify-content: start;
  }

  .social-medias-logos li {
    margin-right: 50px;
  }

}
